<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SBGC</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<h1>SBGC</h1>

		<ul>
			{{#each facts}}
			<li>{{text}}</li>
			{{/each}}
		</ul>
	</body>
</html>